################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/bin/Debug
/src/obj
/src/Services/Catalog/Ryzen.Shop.Catalog.Api/bin/
/src/Services/Catalog/Ryzen.Shop.Catalog.Api/obj
/src/Services/Catalog/Ryzen.Shop.Catalog.Application/obj
/src/Services/Catalog/Ryzen.Shop.Catalog.Domain/bin/Debug/net7.0
/src/Services/Catalog/Ryzen.Shop.Catalog.Domain/obj
/src/Services/Catalog/Ryzen.Shop.Catalog.Persistence/bin/Debug/net7.0
/src/Services/Catalog/Ryzen.Shop.Catalog.Persistence/obj
/src/Shared/Ryzen.Shop.Shared.Entity/bin/Debug/net7.0
/src/Shared/Ryzen.Shop.Shared.Entity/obj
/src/Services/Catalog/Ryzen.Shop.Catalog.Application/bin/Debug/net7.0
/src/Services/Trolley/Ryzen.Shop.Trolley.Api/bin/Debug/net7.0
/src/Services/Trolley/Ryzen.Shop.Trolley.Api/obj
/src/Services/Trolley/Tests/Ryzen.Shop.Trolley.Test/bin/Debug/net7.0
/src/Services/Trolley/Tests/Ryzen.Shop.Trolley.Test/obj
/src/Services/Catalog/Ryzen.Shop.Catalog.Test/bin/
/src/Services/Catalog/Ryzen.Shop.Catalog.Test/obj
/src/Services/Catalog/Ryzen.Shop.Catalog.Test/bin/
/src/Shared/Ryzen.Shop.Infrastructure/obj
/src/Shared/Ryzen.Shop.Infrastructure/bin/Debug/net7.0
/src/Services/Catalog/Ryzen.Shop.Catalog.Test/bin/
/src/.vs/Ryzen.Shop/FileContentIndex/
/src/Services/Catalog/Ryzen.Shop.Catalog.Test/bin/
/src/.vs/Ryzen.Shop/v17/
/src/.vs/Ryzen.Shop/v17/
