################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/bin/Debug
/src/obj
/src/Services/Catalog/Ryzen.Shop.Catalog.Api/bin/Debug/net7.0
/src/Services/Catalog/Ryzen.Shop.Catalog.Api/obj
/src/Services/Catalog/Ryzen.Shop.Catalog.Application/obj
/src/Services/Catalog/Ryzen.Shop.Catalog.Domain/bin/Debug/net7.0
/src/Services/Catalog/Ryzen.Shop.Catalog.Domain/obj
/src/Services/Catalog/Ryzen.Shop.Catalog.Persistence/bin/Debug/net7.0
/src/Services/Catalog/Ryzen.Shop.Catalog.Persistence/obj
/src/Shared/Ryzen.Shop.Shared.Entity/bin/Debug/net7.0
/src/Shared/Ryzen.Shop.Shared.Entity/obj
/src/Services/Catalog/Ryzen.Shop.Catalog.Application/bin/Debug/net7.0
/src/Services/Trolley/Ryzen.Shop.Trolley.Api/bin/Debug/net7.0
/src/Services/Trolley/Ryzen.Shop.Trolley.Api/obj
/src/Services/Trolley/Tests/Ryzen.Shop.Trolley.Test/bin/Debug/net7.0
/src/Services/Trolley/Tests/Ryzen.Shop.Trolley.Test/obj
/src/Services/Catalog/Ryzen.Shop.Catalog.Test/bin/
/src/Services/Catalog/Ryzen.Shop.Catalog.Test/obj
/src/Services/Catalog/Ryzen.Shop.Catalog.Test/bin/Debug/net7.0/Ryzen.Shop.Catalog.Api.deps.json
/src/Services/Catalog/Ryzen.Shop.Catalog.Test/bin/Debug/net7.0/Ryzen.Shop.Catalog.Api.dll
/src/Services/Catalog/Ryzen.Shop.Catalog.Test/bin/Debug/net7.0/Ryzen.Shop.Catalog.Api.pdb
/src/Services/Catalog/Ryzen.Shop.Catalog.Test/bin/Debug/net7.0/Ryzen.Shop.Catalog.Application.dll
/src/Services/Catalog/Ryzen.Shop.Catalog.Test/bin/Debug/net7.0/Ryzen.Shop.Catalog.Application.pdb
/src/Services/Catalog/Ryzen.Shop.Catalog.Test/bin/Debug/net7.0/Ryzen.Shop.Catalog.Domain.dll
/src/Services/Catalog/Ryzen.Shop.Catalog.Test/bin/Debug/net7.0/Ryzen.Shop.Catalog.Domain.pdb
/src/Services/Catalog/Ryzen.Shop.Catalog.Test/bin/Debug/net7.0/Ryzen.Shop.Catalog.Persistence.dll
/src/Services/Catalog/Ryzen.Shop.Catalog.Test/bin/Debug/net7.0/Ryzen.Shop.Catalog.Persistence.pdb
/src/Services/Catalog/Ryzen.Shop.Catalog.Test/bin/Debug/net7.0/Ryzen.Shop.Catalog.Test.deps.json
/src/Services/Catalog/Ryzen.Shop.Catalog.Test/bin/Debug/net7.0/Ryzen.Shop.Catalog.Test.dll
/src/Services/Catalog/Ryzen.Shop.Catalog.Test/bin/Debug/net7.0/Ryzen.Shop.Catalog.Test.pdb
/src/Services/Catalog/Ryzen.Shop.Catalog.Test/obj/Debug/net7.0/Ryzen.Shop.Catalog.Test.assets.cache
/src/Services/Catalog/Ryzen.Shop.Catalog.Test/obj/Debug/net7.0/Ryzen.Shop.Catalog.Test.csproj.AssemblyReference.cache
/src/Services/Catalog/Ryzen.Shop.Catalog.Test/obj/Debug/net7.0/Ryzen.Shop.Catalog.Test.csproj.CoreCompileInputs.cache
/src/Services/Catalog/Ryzen.Shop.Catalog.Test/obj/Debug/net7.0/Ryzen.Shop.Catalog.Test.csproj.FileListAbsolute.txt
/src/Services/Catalog/Ryzen.Shop.Catalog.Test/obj/Debug/net7.0/Ryzen.Shop.Catalog.Test.dll
/src/Services/Catalog/Ryzen.Shop.Catalog.Test/obj/Debug/net7.0/Ryzen.Shop.Catalog.Test.pdb
/src/Shared/Ryzen.Shop.Infrastructure/obj
/src/Shared/Ryzen.Shop.Infrastructure/bin/Debug/net7.0
/src/Services/Catalog/Ryzen.Shop.Catalog.Test/bin/Debug/net7.0/Ryzen.Shop.Catalog.Api.dll
